/build/
/dist/

/docs/build/
/docs/dist/

/temp/
/venv/

/.cache/

/.mypy_cache/
/.ruff_cache/

/.hypothesis/
/.pytest_cache/
/.tox/

/htmlcov/
/.coverage
/.coverage.*

# Python
__pycache__/
*.egg-info/
*.py[cod]

# C/C++
*.obj
*.lib
*.dll
*.o
*.a
*.so

# macOS
.DS_Store
